body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 80%;

    margin: 100px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.boton.boton-blanco{
    color: blue;
    background-color: white;
    font-size: 40px;
    font-weight: bold;  /*sombra o profundidad de una letra*/
    border: 2px solid blue;
    text-decoration: none;
    border-radius: 12px;
    margin: 15px;
}
.visita a:hover {
    color: black;
    background-color: #90EE90;
}
.visita img {
    width: 20%;
    border-radius: 50%;
    align-items: center;
    border: solid black 2px;
}
